# Importing Libraries

In [1]:
import warnings
warnings.simplefilter("ignore")

import pandas as pd
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import altair as alt

#

# Importing Dataset
#### This dataset will be used for complete Data Visualisation task and  for the Question 1 (Time Series) from Machine Learning for Business.

In [8]:
df = pd.read_csv('weather.csv')
df.head(10)

,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,precip,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,2021-01-01,14.2,10.9,12.6,14.2,10.9,12.6,9.0,79.0,2.747,...,5.5,3,NaN,2021-01-01T08:29:19,2021-01-01T17:46:34,0.58,"Rain, Partially cloudy",Partly cloudy throughout the day with rain in ...,rain,"LTBA,17063099999,17119099999,17061099999,17064..."
1,2021-01-02,15.6,6.2,10.8,15.6,4.8,10.6,6.2,74.5,0.000,...,8.8,4,NaN,2021-01-02T08:29:24,2021-01-02T17:47:25,0.61,Clear,Clear conditions throughout the day.,clear-day,"LTBA,17063099999,17119099999,17061099999,17064..."
2,2021-01-03,14.4,6.9,11.0,14.4,6.1,10.9,5.9,71.4,0.000,...,5.9,4,NaN,2021-01-03T08:29:27,2021-01-03T17:48:19,0.65,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"D8508,LTBA,17063099999,17119099999,17061099999..."
3,2021-01-04,15.8,10.3,13.0,15.8,10.3,13.0,5.2,59.8,0.000,...,7.6,4,NaN,2021-01-04T08:29:27,2021-01-04T17:49:13,0.69,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"LTBA,17063099999,17119099999,17061099999,17064..."
4,2021-01-05,15.3,10.8,13.5,15.3,10.8,13.5,8.5,72.0,1.202,...,9.1,5,NaN,2021-01-05T08:29:26,2021-01-05T17:50:09,0.72,"Rain, Partially cloudy",Clearing in the afternoon with morning rain.,rain,"LTBA,17063099999,17119099999,17061099999,17064..."
5,2021-01-06,14.3,7.3,11.3,14.3,7.3,11.2,7.0,75.9,0.121,...,6.9,4,NaN,2021-01-06T08:29:22,2021-01-06T17:51:07,0.75,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,rain,"D8508,LTBA,17063099999,17119099999,17061099999..."
6,2021-01-07,15.3,10.5,12.8,15.3,10.5,12.8,7.9,72.0,0.000,...,5.2,3,NaN,2021-01-07T08:29:15,2021-01-07T17:52:06,0.79,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"LTBA,17063099999,17119099999,17061099999,17064..."
7,2021-01-08,17.6,11.8,14.5,17.6,11.8,14.5,9.1,70.5,0.000,...,8.4,4,NaN,2021-01-08T08:29:07,2021-01-08T17:53:06,0.83,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"LTBA,17063099999,17119099999,17061099999,17022..."
8,2021-01-09,15.3,9.0,11.7,15.3,6.0,10.3,8.7,82.6,8.563,...,2.6,2,NaN,2021-01-09T08:28:56,2021-01-09T17:54:08,0.86,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"D8508,LTBA,17063099999,17119099999,17061099999..."
9,2021-01-10,9.8,7.9,8.8,7.8,4.5,6.3,7.7,93.1,32.574,...,1.3,1,NaN,2021-01-10T08:28:42,2021-01-10T17:55:10,0.90,"Rain, Overcast",Cloudy skies throughout the day with a chance ...,rain,"D8508,LTBA,17063099999,17119099999,17061099999..."

#### For better understanding of the dataset, I'm providing terminology explanation, to be aware what each weather parameter represents:

datetime: Date and time of the weather data.

tempmax: Maximum temperature recorded.

tempmin: Minimum temperature recorded.

temp: Current temperature.

feelslikemax: Maximum "feels like" temperature.

feelslikemin: Minimum "feels like" temperature.

feelslike: Current "feels like" temperature.

dew: Dew point temperature.

humidity: Relative humidity percentage.

precip: Precipitation amount.

precipprob: Probability of precipitation.

precipcover: Extent of precipitation coverage.

preciptype: Type of precipitation (e.g., rain, snow).

snow: Snowfall amount.

snowdepth: Snow depth on the ground.

windgust: Maximum wind gust.

windspeed: Current wind speed.

winddir: Wind direction.

sealevelpressure: Atmospheric pressure at sea level.

cloudcover: Percentage of sky covered by clouds.

visibility: Visibility range in meters.

solarradiation: Solar radiation amount.

solarenergy: Solar energy captured or available.

uvindex: UV index.

severerisk: Risk of severe weather conditions.

sunrise: Time of sunrise.

sunset: Time of sunset.

moonphase: Current phase of the moon.

conditions: Summary of weather conditions.

description: Detailed description of weather conditions.

icon: Icon representing weather conditions.

stations: Information about weather monitoring stations or locations.

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   datetime          2000 non-null   object
 1   tempmax           2000 non-null   float64
 2   tempmin           2000 non-null   float64
 3   temp              2000 non-null   float64
 4   feelslikemax      2000 non-null   float64
 5   feelslikemin      2000 non-null   float64
 6   feelslike         2000 non-null   float64
 7   dew               2000 non-null   float64
 8   humidity          2000 non-null   float64
 9   precip            2000 non-null   float64
 10  precipprob        2000 non-null   float64
 11  precipcover       2000 non-null   float64
 12  preciptype        997 non-null    object
 13  snow              2000 non-null   float64
 14  snowdepth         1999 non-null   float64
 15  windgust          1746 non-null   float64
 16  windspeed         2000 non-null   float64
 17  winddir           2000 non-null   float64
 18  sealevelpressure  1999 non-null   float64
 19  cloudcover        2000 non-null   float64
 20  visibility        2000 non-null   float64
 21  solarradiation    2000 non-null   float64
 22  solarenergy       2000 non-null   float64
 23  uvindex           2000 non-null   int64
 24  severerisk        626 non-null    float64
 25  sunrise           2000 non-null   object
 26  sunset            2000 non-null   object
 27  moonphase         2000 non-null   float64
 28  conditions        2000 non-null   object
 29  description       2000 non-null   object
 30  icon              2000 non-null   object
 31  stations          1994 non-null   object
dtypes: float64(23), int64(1), object(8)
memory usage: 500.1+ KB
None

#

# Data Preparation

In [13]:
columns_with_nan = df.columns[df.isnull().any()].tolist()

nan_count_per_column = df[columns_with_nan].isnull().sum()

print("Columns with NaN values and their respective counts:")
print(nan_count_per_column)

Columns with NaN values and their respective counts:
preciptype          1003
snowdepth              1
windgust             254
sealevelpressure       1
severerisk          1374
stations               6
dtype: int64

In [15]:
columns_with_nan = df.columns[df.isnull().any()].tolist()

for column in columns_with_nan:
    unique_values = df[column].unique()
    print(f"Column '{column}':")
    print(unique_values)
    print("---------------------------------")

Column 'preciptype':
['rain' nan 'rain,snow' 'snow']
---------------------------------
Column 'snowdepth':
[0.  0.6 0.4 1.  1.3 3.2 1.4 2.6 2.5 1.1 nan]
---------------------------------
Column 'windgust':
[25.9 14.6 11.2 16.8 36.6 17.2 52.6 38.1 23.5 21.1 16.6 48.2 20.5 16.3
 30.9 61.2 15.4 12.4 30.5 28.1 33.5 26.3 51.8 64.8 22.9 66.6 24.7 55.4
 30.4 30.2 27.8 12.1 24.  11.3 36.  10.5 55.  68.4 21.9 31.3 46.4 25.6
  nan 21.5 13.9 13.1 21.7 16.7 15.9 14.8 57.6 23.  28.4 16.9 14.5 17.8
 18.4 19.9 25.  14.2 29.2 18.5 28.7 31.7 33.9 24.5 29.  13.3 59.4 23.9
 23.2 21.4 50.  24.1 17.  18.6 44.6 22.3 22.5 25.8 19.5 13.7 20.4 22.7
 15.3 16.  17.3 29.5 22.8 14.  14.7 25.5 26.8 26.5 28.8 18.2 21.3 25.7
 17.4 15.8 14.4 23.1 27.4 24.4 19.8 23.8 17.6 19.4 15.7 15.1 18.1 22.6
 22.  37.1 13.2 20.6 25.3 30.7 40.7 20.8 20.2 42.5 38.  18.7 19.6 53.6
 11.8 26.2 29.8 28.3 22.4 43.8 63.  13.  21.2 25.1 18.9 25.4 33.3 12.7
 18.3 28.6 38.3 30.1 13.5 18.  13.8 12.8 35.6 17.5 32.6 28.9 10.6 10.3
 24.3 83.5 48.7 50.7 40.4 16.2 16.4 63.3 53.7 47.4 42.7 37.3 32.3 18.8
 20.  27.7 35.3 15.5 32.  72.4 34.2 51.1 48.4 31.4 41.1 42.8 41.9 44.3
 32.5 59.  60.5 56.5 32.4 23.7 38.9 47.5 33.8 15.6 26.6 41.  41.4 36.4
 37.4 30.6 36.7 58.7 55.8 39.2 49.7 53.3 31.  19.1 32.8 11.9 27.  68.8
 60.8 20.1 49.3 37.8 16.5 20.9 39.6 25.2 21.6 32.7 42.1 43.2 43.9 24.2
 26.1 23.6 40.3 46.1 45.4 29.9 42.9 31.8 50.4 45.  45.7 35.5 38.2 34.9
 51.5 33.1 38.5 36.3 56.9 21.8 48.6 34.6 41.8 16.1 52.2 54.  49.  23.4
 13.4 58.3 54.7 52.9 47.2 36.5 12.2 10.4 24.8 40.  62.6 31.5 59.8 94.7
 81.4 54.4 30.  47.9 60.3 43.6 20.3 12.6 22.1 17.7 17.1 31.9 24.9 14.9
 11.5 11.  28.2  7.4  3.6 19.2  7.6  9.4 24.6 26.7 13.6  6.2 15.  59.7
 41.5 62.1  5.4 39.5  8.7 74.2 70.6 81.7 36.8 38.6 79.6 46.6 48.8 65.3
 23.3 21.  35.4 33.  34.4 10.9 26.  26.4]
---------------------------------
Column 'sealevelpressure':
[1016.1 1022.6 1021.4 1017.  1013.9 1021.3 1018.2 1014.  1014.3 1018.1
 1009.8 1006.4 1009.2 1013.2 1011.7 1012.6 1020.7 1024.3 1026.5 1026.9
 1023.5 1017.9 1011.1 1007.3 1007.1 1001.  1011.6 1011.8 1002.2 1008.7
 1007.2 1013.8 1016.9 1019.9 1016.6 1014.6 1008.5 1010.8 1011.9    nan
 1027.  1023.2 1024.1 1022.4 1019.8 1027.7 1027.8 1031.4 1031.1 1030.8
 1032.8 1033.8 1028.7 1020.4 1027.4 1029.6 1029.4 1024.7 1017.6 1021.
 1026.4 1019.1 1018.  1013.6 1021.7 1017.8 1004.4  999.7 1003.2 1011.2
 1017.7 1013.4 1001.8 1007.8 1023.4 1028.6 1025.7 1022.7 1018.4 1015.1
 1012.9 1012.7 1007.  1006.  1026.  1025.4 1018.9 1018.8 1016.4 1014.1
 1013.3 1021.9 1020.3 1017.4 1014.2 1013.1 1015.7 1014.7 1011.3 1016.
 1012.  1012.3 1023.1 1008.  1010.9 1008.9 1009.1 1006.6 1010.4 1018.5
 1018.6 1019.6 1020.  1015.2 1009.9 1013.5 1016.8 1022.2 1020.8 1017.1
 1014.4 1012.2 1012.1 1015.9 1014.5 1011.  1012.5 1015.6 1015.5 1013.7
 1006.9 1008.3 1009.6 1008.2 1016.7 1016.3 1013.  1012.8 1004.9 1003.8
 1005.7 1010.6 1010.5 1009.  1011.5 1007.7 1014.8 1019.7 1019.4 1010.7
 1009.5 1019.5 1015.3 1021.2 1015.8 1021.6 1022.3 1020.9 1022.9 1023.
 1017.3 1017.2 1022.1 1026.2 1020.5 1024.8 1029.  1024.9 1021.5 1014.9
 1022.8 1033.7 1029.3 1023.3 1022.5 1019.2 1008.8 1004.5 1003.9 1005.8
 1015.4 1010.  1023.6 1006.8 1002.4 1009.7 1020.6 1030.4 1028.9 1023.8
 1006.3 1018.7 1007.4 1018.3 1016.2 1026.7 1027.9 1033.6 1034.9 1035.3
 1035.9 1034.2 1030.6 1027.3 1026.8 1005.5 1005.6 1005.3 1006.2 1021.1
 1010.3 1015.  1025.3 1009.3 1009.4 1005.1 1008.6 1011.4 1012.4 1008.4
 1010.1 1006.5 1005.9 1005.4 1007.5 1007.9 1019.3 1027.2 1026.6 1025.6
 1024.4 1020.1 1023.9 1029.2 1025.1 1024.5 1017.5 1003.6 1019.  1034.1
 1031.6 1024.2 1027.5 1027.1 1025.9 1024.  1016.5 1027.6 1032.3 1034.4
 1034.8 1028.3 1034.3 1008.1 1003.7 1004.3 1021.8 1010.2 1007.6 1002.7
 1006.1 1005.  1020.2 1004.7 1005.2 1002.  1004.1 1025.5 1028.4 1022.
 1028.  1026.1 1025.  1028.1 1003.4 1002.9 1000.6 1001.4 1023.7 1031.2
 1028.5 1001.5 1002.8  996.9  999.5 1024.6 1033.5 1038.8 1030.3 1032.1
 1025.2  993.8 1033.  1029.9 1004.6 1006.7 1025.8 1028.8 1026.3 1030.2]
---------------------------------
Column 'severerisk':
[nan 10. 30.  5. 60. 15.  8.]
---------------------------------
Column 'stations':
['LTBA,17063099999,17119099999,17061099999,17064099999,17059099999,17060099999,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17064099999,17059099999,17060099999,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17064099999,17059099999,17060099999,VRKZ7,LTFJ'
 'LTBA,17063099999,17119099999,17061099999,17022399999,17064099999,17059099999,17060099999,LTFJ'
 'LTBA,17063099999,17119099999,17061099999,17064099999,17059099999,17060099999,VRKZ7,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17022399999,17064099999,17059099999,17060099999,VRKZ7,LTFJ'
 'LTBA,17063099999,17119099999,17064099999,17060099999,VRKZ7,LTFJ'
 'D8508,LTBA,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17022399999,17064099999,17059099999,17060099999,LTFJ'
 'D8508,LTBA,17119099999,17061099999,remote,17064099999,17059099999,LTFJ'
 'D8508,LTBA,17119099999,17063099999,17061099999,17064099999,17059099999,17060099999,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17064099999,17059099999,17060099999,VRTU9,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17064099999,17059099999,17060099999,VRKZ7,VRTU9,LTFJ'
 'LTBA,17063099999,17119099999,17061099999,17064099999,17059099999,17060099999,VRTU9,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17064099999,17059099999,17060099999,VRTU9,VRKZ7,LTFJ'
 'LTBA,17119099999,17063099999,17061099999,17064099999,17059099999,17060099999,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17022399999,17064099999,17059099999,17060099999,VRTU9,LTFJ'
 'D8508,LTBA,17063099999,17061099999,17022399999,17064099999,17059099999,17060099999,LTFJ'
 'D8508,LTBA,17063099999,17061099999,17022399999,17064099999,17059099999,17060099999,VRTU9,LTFJ'
 'D8508,LTBA,17063099999,17061099999,17064099999,17059099999,17060099999,VRTU9,LTFJ'
 'LTBA,17063099999,17119099999,17061099999,17022399999,17064099999,17059099999,17060099999,VRTU9,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17022399999,17064099999,17059099999,17060099999,VRTU9,VRKZ7,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17064099999,17060099999,LTFJ'
 'D8508,LTBA,17063099999,17061099999,17064099999,17060099999'
 'D8508,LTBA,17063099999,17061099999,17064099999,17060099999,LTFJ'
 'D8508,LTBA,17063099999,17061099999,17064099999,17059099999,17060099999'
 'D8508,LTBA,17063099999,17061099999,17064099999,17059099999,17060099999,LTFJ'
 'LTBA,17063099999,17061099999,17064099999,17059099999,17060099999,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17064099999,17060099999'
 'LTBA,17063099999,17061099999,17064099999,17059099999,17060099999'
 'D8508,LTBA,17063099999,17061099999,17064099999,VRKZ7,17060099999,LTFJ'
 'LTBA,17063099999,17061099999,17064099999,17060099999'
 'LTBA,17063099999,17061099999,17064099999,17060099999,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17064099999,17059099999,17060099999'
 'D8508,LTBA,17063099999,17061099999,17064099999,17060099999,VRKZ7,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17064099999,17059099999,VRKZ7,17060099999,LTFJ'
 'LTBA,17063099999,17061099999,17064099999,17059099999,17060099999,VRKZ7,LTFJ'
 'LTBA,17063099999,17119099999,17061099999,17022399999,17064099999,17059099999,17060099999,VRKZ7,LTFJ'
 'LTBA,17063099999,17119099999,17061099999,17064099999,17059099999,17060099999,VRKZ7,VRTU9,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17022399999,17064099999,17059099999,17060099999,VRKZ7,VRTU9,LTFJ'
 'LTBA,17063099999,17119099999,17061099999,17022399999,17064099999,17059099999,17060099999,VRKZ7,VRTU9,LTFJ'
 'LTBA,17063099999,17119099999,17061099999,17064099999,17059099999,17060099999,VRTU9,VRKZ7,LTFJ'
 'D8508,LTBA,17063099999,17119099999,17061099999,17022399999,17064099999,17059099999,VRTU9,17060099999,VRKZ7,LTFJ'
 nan
 'LTBA,17063099999,17061099999,17022399999,17064099999,17059099999,17060099999,LTFJ'
 'LTBA,17063099999,17119099999,17064099999,LTBX,17060099999,LTFJ'
 'LTBA,17119099999,17063099999,17061099999,remote,17064099999,17059099999,17060099999,LTFJ'
 'LTBA,17063099999,17119099999,17061099999,remote,17064099999,17059099999,17060099999,LTFJ'
 'LTBA,17063099999,17061099999,17022399999,17064099999,17059099999,17060099999,VRKZ7,LTFJ'
 'D8508,LTBA,17063099999,17061099999,17064099999,17059099999,17060099999,VRKZ7,LTFJ'
 'D8508,LTBA,17063099999,17061099999,17022399999,17064099999,17059099999,17060099999,VRKZ7,LTFJ'
 'LTBA,17119099999,17061099999,17064099999,17059099999,17060099999'
 'LTBA,17119099999,17061099999,17022399999,17064099999,17059099999,17060099999'
 'D8508,LTBA,17119099999,17061099999,17022399999,17064099999,17059099999,17060099999'
 'LTBA,17119099999,17061099999,17022399999,17064099999,17059099999,17060099999,VRKZ7'
 'D8508,LTBA,17119099999,17061099999,17064099999,17059099999,17060099999,VRKZ7'
 'D8508,LTBA,17119099999,17061099999,17064099999,17059099999,17060099999'
 'D8508,LTBA,17119099999,17061099999,17022399999,17064099999,17059099999,17060099999,VRKZ7'
 'D8508,LTBA,17119099999,17063099999,17061099999,17064099999,17059099999,17060099999,VRKZ7,LTFJ']
---------------------------------

#

I looked for the unique values within columns that contain NaN values, to see if missing value is just matter of mistake or it indicates that value for that column was not available in the moment of recording, since it's weather data. 

1. precitype (Precipitation Type) It has 1003 NaN values. Missing values here suggest that the type of precipitation (rain, snow etc.) is not specified or availabe at the moment of recording. It might happen due to not having rain or snow at that moment at all. However, this column doesn't bring much value for my dataset and will drop it. 


2. snowdepth (Snow Depth): There is only 1 NaN value in this column. Snow depth typically represents the depth of accumulated snow at a specific location or time. One missing value indicates that snow depth data was not added as we have 0 within unique values. I will replace NaN value by using Interpolation.


3. windgust (Wind Gust): This column contains 254 missing values. Wind gust refers to the maximum wind speed observed over a brief period. The absence of values in this column for 254 observations signifies that wind gust data is not available for these instances, so I will replace thos NaN values by using Interpolation. 


4. sealevelpressure (Sea Level Pressure): There is 1 missing value in this column. Sea level pressure represents atmospheric pressure adjusted to sea level. One missing value implies that sea level pressure data was simply not added that day. I will replace NaN value using Interpolation. 


5. severerisk (Risk of Severe Weather Conditions): This column has 1374 missing values. Severerisk represents the risk level associated with severe weather conditions. The high count of missing values (1374) indicates that the risk level for severe weather was not applicable for these recordings, therefore NaN values as there was no risk level. In this situation, I will replace NaN values with 0 by using Imputation. 


6. stations: There are 6 missing values in the 'stations' column. This column might contain identifiers or codes for weather stations. The missing values suggest that the station identifiers are not added for these observations. Since this column doesn't bring any value to my dataset, as there are no longitude and altitude for plotting, I will just remove it from dataset.

#

### Removing NaN Values

#### Droppping columns

In [16]:
columns_to_drop = ['precip', 'precipprob', 'precipcover', 'preciptype', 'stations']
df.drop(columns=columns_to_drop, inplace=True)

#### Interpolation

In [17]:
df['sealevelpressure'].interpolate(method='linear', inplace=True)
df['windgust'].interpolate(method='linear', inplace=True)
df['snowdepth'].interpolate(method='linear', inplace=True)

#### Imputation

In [18]:
df['severerisk'].fillna(0, inplace=True)

#

In [19]:
nan_values = df.isnull().sum()
nan_values

datetime            0
tempmax             0
tempmin             0
temp                0
feelslikemax        0
feelslikemin        0
feelslike           0
dew                 0
humidity            0
snow                0
snowdepth           0
windgust            0
windspeed           0
winddir             0
sealevelpressure    0
cloudcover          0
visibility          0
solarradiation      0
solarenergy         0
uvindex             0
severerisk          0
sunrise             0
sunset              0
moonphase           0
conditions          0
description         0
icon                0
dtype: int64